body {
    padding: 20px;
    background-color:rgb(8, 0, 5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    -webkit-text-stroke: .3px;
        -webkit-text-stroke-color: rgb(185, 29, 206);

    }

    h1{
        font-family:   Robotof;
        text-align:center; 
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: rgb(185, 29, 206);


    }

    * {
        color: white;
     }
    


.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    
.crystal{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.crystal:hover {
    box-shadow: 15px 15px 15px rgba(0,0,0.5);
    cursor: pointer;
}


 .instructions {
     text-align: center;
     display:flex;
     position:relative;
     float: right;
     font-size: 17px;
     display:inline-block;
     margin-right:0px;
    }


#win {
    padding:0px;
    border: 1px solid green;
    height: 200px;
    width: 200px;
}

#lose {
    border: 1px solid red;
    height: 200px;
    width: 200px;
}

img {
    width: 50px;
}
