body {
  background-color:black;
 /* background-image: url(../images/blackbg.jpg); 
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover; */
 font-size: 20px;
 margin-bottom:45%;
 font-family: 'Comfortaa', cursive;
}

#video-background {
  /*  making the video fullscreen  */
    position: fixed;
    left:0;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    height: auto;
    z-index: -90;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden;
    object-fit: cover;
}

  * {
    color: rgb(221, 216, 216);
}

p {
  float:left;
  padding: 5%;
  font-size: 40px;
  font-family: 'Comfortaa', cursive;
  fill-opacity: inherit;
  text-shadow: 0px 0px 10px;
  color:white;
  text-align: justify
}

h1 {
  position: absolute;
  float:left;
  padding: 5%;
  margin-top:-20px;
  overflow:hidden;
  display:inline;
  text-align: center;
  font-size: 1200%;
  font-family: Century Gothic;
  fill-opacity: inherit;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 0px 10px;
  color:white;
}

h2 {
  position:relative;
  display: block;
  font-size:50px;
  float:center;
  padding: 0%;
  margin-top:-40px;
  font-family: Century Gothic;
  fill-opacity: inherit;
  color:white;
  padding-top:25%;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    rgb(77, 36, 121),
                    #FF1361,
                    #FFF800);
}

 img  {
  position: relative;
  padding-bottom:2%;
  border-radius:75%;
  display: inline;
  margin: 0 auto;
  width: auto;
  max-width:10px;
  height: auto;
  max-height: 200px;
  float: auto;
  object-fit:cover ; 
  margin-bottom: 50%;
  margin-top: -49%;
  margin-left:-37.4%
}

#text {
  margin-left:45px;
  padding:10px;
  text-align: center;
  box-shadow: 1px 1px 1px 2px hsl(210, 14%, 3%);
}
  
main {
    margin-top: 0px;
    z-index: 2;
    position: relative;
    height: 150%;
    background-color: black;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
  }
  
  .sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    background-color: black;
  }
  
  .bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: whitesmoke;
    margin: 10px auto;
  }
  
  .button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
  }
  
  .nav-right {
    position: relative;
    right: 40px;
    top: 20px;
  }
  
  .nav-right.visible-xs {
    z-index: 3;
  }
  
  .hidden-xs {
    display: none;
  }
  
  .middle {
    margin: 0 auto;
  }
  
  .bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
  }
  
  .nav-right.visible-xs .active .bar {
    background-color: #FFF;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
  }
  
  .button.active .top {
    -webkit-transform: translateY(15px) rotateZ(45deg);
    -moz-transform: translateY(15px) rotateZ(45deg);
    -ms-transform: translateY(15px) rotateZ(45deg);
    -o-transform: translateY(15px) rotateZ(45deg);
    transform: translateY(15px) rotateZ(45deg);
  }
  
  .button.active .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  .button.active .middle {
    width: 0;
  }
  
  .move-to-left {
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  
  nav {
    padding-top: 30px;
  }
  
  .sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 150px;
    text-align: center;
  }

  a:hover{
    color: linear-gradient(45deg, 
                    #7794ff, 
                    rgb(77, 36, 121),
                    #FF1361,
                    #FFF800);
    text-shadow: 0px 0px 20px white;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    color:white;
  }
  
  .sidebar-item {
    margin: 30px 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  
  .sidebar-item:first-child {
    -webkit-transition: all .7s .2s ease-in-out;
    -moz-transition: all .7s .2s ease-in-out;
    -ms-transition: all .7s .2s ease-in-out;
    -o-transition: all .7s .2s ease-in-out;
    transition: all .7s .2s ease-in-out;
  }
  
  .sidebar-item:nth-child(2) {
    -webkit-transition: all .7s .4s ease-in-out;
    -moz-transition: all .7s .4s ease-in-out;
    -ms-transition: all .7s .4s ease-in-out;
    -o-transition: all .7s .4s ease-in-out;
    transition: all .7s .4s ease-in-out;
  }
  
  .sidebar-item:nth-child(3) {
    -webkit-transition: all .7s .6s ease-in-out;
    -moz-transition: all .7s .6s ease-in-out;
    -ms-transition: all .7s .6s ease-in-out;
    -o-transition: all .7s .6s ease-in-out;
    transition: all .7s .6s ease-in-out;
  }
  
  .sidebar-item:last-child {
    -webkit-transition: all .7s .8s ease-in-out;
    -moz-transition: all .7s .8s ease-in-out;
    -ms-transition: all .7s .8s ease-in-out;
    -o-transition: all .7s .8s ease-in-out;
    transition: all .7s .6s ease-in-out;
  }
  
  .sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);  
  }
  
  .sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
  }
  
  .sidebar-anchor:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:white;
    background-image: linear-gradient(45deg, 
                    #7794ff, 
                    rgb(77, 36, 121),
                    #FF1361,
                    #FFF800);

    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
  
  .sidebar-anchor:hover:before {
    width: 100%;
  }
  
  .ua {
    position: absolute;
    bottom: 20px;
    left: 60px;
  }
  
  .fa {
    font-size: 1.4em;
    color: black;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  .ua:hover .fa {
    color: #FFF;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

  .btn{
    box-align: center;
    border-color:  hsl(327, 87%, 48%);
    border-width: 0ch;
    border-radius: 5px;
    padding:5%;
    margin-top:25px;
    margin-left:65px;
    color:white;
    flex: 1 1 auto;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 0px  hsl(209, 95%, 37%);
    z-index: 0;
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to left , rgb(204, 238, 10), hsl(327, 87%, 48%) ,hsl(207, 93%, 54%));
  }

  .btn:hover{
    color: white;
    background-position: center left; 
    background-image: linear-gradient(to right, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));  
    box-shadow: 0px 5px 35px   hsl(209, 95%, 37%);
    text-shadow: 0px 0px 0px;


  }

  img:hover{
    color:white;
    background-position: center left; /* change the direction of the change here */
    /* background-image: linear-gradient(to left, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%)); */
    box-shadow: 0px 5px 35px hsl(192, 15%, 94%);   
    text-shadow: 0px 0px 0px;
  }

  
  @media (min-width: 480px) {
    .nav-list {
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    .nav-right {
      position: absolute;
    }
    .hidden-xs {
      display: block;
    }
    .visible-xs {
      display: none;
    }
  }

  .container {
    padding: 350px;
    font-size: 23px;
    padding:10px;
    margin-top:-10px;
    margin-bottom: 20px;
    border:10px;  
    position:relative;
    float:center;
    -webkit-text-stroke-width: .30px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 0px 1px;
  }
  
  .col-sm-6   {
    width:25%;
    padding:10px;
    border:0px;
  }
  
  .col-sm-12   {
    padding:90px;
    margin-top: -75px;
  }
  
  
  .footer a {
    float:center;
    text-align:center;
    font-size:12px;
    text-align:center;
  }
  
  .topnav a{
  display:inline;
  padding:15px;
  color:white;
  font-size:16px;
  font-family: Century Gothic;
  }
  
  
  .card{
    background-color: black;
    padding: 15px;
  }

.form {
  padding: 50px;
  margin-bottom:150px;
  margin-top:-35px;
}

.form-control{
background-color: rgba(245, 238, 238, 0.911);
}

#exampleFormControlInput1{
background-color: rgba(245, 238, 238, 0.911);
}

#exampleFormControlTextarea1{
  background-color: rgba(245, 238, 238, 0.911);  
}
   
.nav-item:hover{
  background-color:white;
  text-shadow:50%;
  color:black;
  border-color:white;
  border-width:5px;
  text-shadow: 1px 1px 1px black;
}

